@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400");
@import url("https://fonts.googleapis.com/css?family=Ultra");

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 50px;
}

.nav-link {
  text-decoration: none;
  padding: 20px;
  color: black;
}

.nav-link:visited {
  color: black;
}

#title {
  font-family: "Ultra", serif;
  font-size: 85px;
  text-align: center;
  color: white;
  background: url(./testbackground.jpg) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: backgroundScroll 10s infinite linear;
}

@keyframes backgroundScroll {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vw;
  }
}
