@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400");
@import url("https://fonts.googleapis.com/css?family=Ultra");

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: #76323f;
  /* color: #d7cec7; */
  color: #c09f80;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 50px;
}

.nav-link {
  text-decoration: none;
  padding: 20px;
}

.nav-link:visited {
  color: #c09f80;
}

#title {
  font-family: "Ultra", serif;
  font-size: 85px;
  text-align: center;
  color: #c09f80;
  height: 80vh;
  background: url(./testbackground.jpg) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: backgroundScroll 10s infinite linear;
  padding-top: 10%;
  line-height: 1.5;
}

@keyframes backgroundScroll {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vw;
  }
}

#horizontal-line {
  position: absolute;
  right: 0;
  width: 1px;
  border: 1px solid #c09f80;
}

#about {
  padding: 80px;
  position: relative;
  width: 100vw;
}

.about-info {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.about-info p {
  position: absolute;
  width: 40%;
  left: 55%;
  top: 75%;
}

.about-info h1 {
  position: absolute;
  left: 55%;
  top: 55%;
}

.about-info-2 {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.about-info-2 p {
  position: absolute;
  width: 35%;
  left: 60%;
  top: 235%;
}

.about-info-2 h1 {
  position: absolute;
  left: 60%;
  top: 210%;
}

.timeline {
  color: #c09f80;
  position: absolute;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
}

.timelinetext {
  text-align: center;
  font-size: 50px;
  border-bottom: 4px double #c09f80;
  padding: 20px;
  width: 400px;
  margin-bottom: 10px;
}

.right {
  height: 100px;
  margin-right: 50%;
  width: 50%;
  position: relative;
  text-align: right;
  padding-right: 25px;
}

.right:after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c09f80;
  position: absolute;
  right: 0;
  top: 0;
}

.left {
  text-align: left;
  height: 100px;
  margin-left: 50%;
  width: 50%;
  position: relative;
  padding-left: 10px;
  /* padding: 30px; */
}

.left:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c09f80;
  position: absolute;
  margin-left: -25px;
}

.line {
  border-right: 2px solid #c09f80;
  width: 2px;
  position: absolute;
  left: 50%;
  margin-left: -8.5px;
  top: 20%;
}

.timelinetitle {
  font-size: 30px;
  color: #c09f80;
}
.timelinedate {
  font-size: 15px;
  color: #c09f80;
}

#story {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 30px;
}

#story img {
  max-width: 50%;
  padding: 20px;
}

#story p {
  width: 100%;
  padding: 20px;
}

#story-text {
  width: 45%;
}

#story-text h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.thumbnail {
  max-width: 50%;
  margin-left: 25%;
  max-height: 70vh;
}

.story-text-edit {
  width: 90%;
}

#addEdit {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-row td {
  width: 200px;
  text-align: center;
}

#story-table {
  width: 80vw;
  margin-left: 10%;
}

#buttons {
  display: flex;
  justify-content: center;
}

#headers {
  font-size: 20px;
  font-weight: bold;
}

#wheel {
  width: 66vw;
  height: 100vh;
  position: relative;
}
#wheel-display {
  width: 33vw;
  height: 100vh;
}

#circle {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #d7cec7;
}

#wheel img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

#storyRoulette {
  display: flex;
}
